body{
    background: #fff8f0;
    font-family: Arial, sans-serif;
}

.hero{
    min-height: 90vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.display-3{
    color:#6f4e37;
}

.btn-dark{
    border-radius:15px;
    padding:12px 30px;
}