body{
    background: #fff8f0;
    font-family: Arial, sans-serif;
}

.hero{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: none;
    border-radius: 18px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

h1,h2,h4,h5{
    color: #6f4e37;
}

.btn{
    border-radius: 12px;
}

.form-control{
    border-radius: 12px;
    padding: 12px;
}

.shadow-lg{
    border-radius: 20px;
}

footer{
    margin-top: 50px;
}